.form-inputs{
  margin-top: 25px;
  margin-bottom: 5px;
  width: 100% !important;
}

.pass{
  width: 100% !important;
  input{
    width: 100% !important;

  }
}

.spacer{
  padding: 20px 0;
}

.visibility{
  cursor: pointer;
}

.space{
  padding: 60px;
}

.register{
  button{
    width: 100%;
  }
}

.login{
  margin-top: 35px;
  margin-bottom: 12px;

  button{
    width: 100%;

  }
}
