.title{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.paymentName{
  margin-top: 2vh;
}


.addPayment{
  margin-top: 2vh;
}
.vertical-center{

}

.action{
  margin-top: 2vh;
}

.methodes{
  margin-top: 1vh;
}

.adding{
  position: fixed;
}

.dial{
  height: 250px;
  position: fixed;
  bottom: 0;
  right: 5vw;
}
