<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h1 class="navbar-brand title" (click)="goToHome()">
    <img src="assets/budget.svg" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
    HOME-FINANCES
  </h1>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div *ngIf="isUserLogged() == true">
      <ul class="navbar-nav">
        <li>
          <button pButton pRipple label="Twoje wydatki" (click)="goToDashboard()" routerLinkActive="activate-route"
                  class="p-button-text navigation_button"
                  icon="pi pi-dollar"></button>
        </li>
        <li>
          <button pButton pRipple label="Ustawienia Konta" (click)="goToSettings()" routerLinkActive="activate-route"
                  class="p-button-text navigation_button"
                  icon="pi pi-cog"></button>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav">
      <li>
        <button pButton pRipple label="Strona głowna" routerLinkActive="activate-route"
                (click)="goToHome()" class="login p-button-text navigation_button"
                icon="pi pi-home"></button>
      </li>
      <li>
        <button pButton pRipple label="Kontakt" routerLinkActive="activate-route"
                class="p-button-text navigation_button" (click)="goToContact()"
                icon="pi pi-comment"></button>
      </li>
    </ul>
  </div>
  <div *ngIf="isUserLogged() == false">
    <button pButton pRipple routerLinkActive="activate-login" label="Zaloguj się"
            (click)="goToLogin()" class="login" icon="pi pi-sign-in"></button>
  </div>
  <span *ngIf="isUserLogged() == true" class="navbar-text greetings">
     Witaj, {{this.name}} {{this.surname}}!
  </span>
  <div *ngIf="isUserLogged() == true">
    <button pButton pRipple label="Wyloguj się" class="login" icon="pi pi-sign-out" (click)="logOut()"></button>
  </div>
</nav>
<div style="padding-top: 60px"></div>
<ng-content></ng-content>
