<div class="">
  <img class="image" src="assets/main.gif" alt="">
  <div class="centered">
    <div class="info">
      <h1 class="text-center">Home Finances</h1>
      <br>
      <h6 class="text-center">Zacznij nadzorować swoje wydatki! gdzie? kiedy?<br><br>
        Dodaj do swoich wydatków a my bedziemy ci pomagać w generowaniu podsumowań wydatków w miesiącu lub roku,<br>
        bedziesz wiedzieć na co wydajesz pieniądze.<br><br>
        Z nami napewno nie uciekną ci pieniądze!</h6>
    </div>
    <div class="text-center info1">
      <br>
      <br>
      <h4>Nie masz jeszcze konta?</h4>
      <br>
      <button pButton class="p-button-rounded w-50" routerLink="/rejestracja" label="Załóż konto!"></button>
      <br>
      <br>
      <h5>I zacznij kontrolować swoje wszystkie wydatki już teraz!</h5>
    </div>

  </div>
</div>
