.form-inputs{
  margin-top: 25px;
  margin-bottom: 4px;
}

.visibility{
  cursor: pointer;
}

.spacer{
  padding: 20px 0;
}

.register{
  margin-top: 35px;
  margin-bottom: 12px;

  button{
    width: 100%;
  }
}

.login{

  button{
    width: 100%;

  }
}

p-password{
  text-align: center !important;
}
